<div>
    <div class="d-flex justify-content-center row mt-5">
        <h3 class="text-center">We will help you find the best spot to park on campus!</h3>
    </div>
    <div class="formContainer">
        <div class="d-flex justify-content-center row">
            <div class="campusChoices">
                <h4>Pick your campus:</h4>
                <div class="btn-group btn-group-toggle d-flex justify-content-center" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
                    <label ngbButtonLabel class="btn-primary">
                        <input ngbButton type="radio" value="south"> South
                    </label>
                    <label ngbButtonLabel class="btn-primary">
                        <input ngbButton type="radio" value="north"> North
                    </label>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="buildingSelect mt-3">
                <div class="col">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary" [disabled]="model == 1" id="dropdownBasic1" ngbDropdownToggle>Where is your first class?</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button *ngFor="let building of northCampusBuildings$ | async" (click)="handleBuildingClick(building)" ngbDropdownItem>{{building}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="buildingSelect mt-3">
                <div class="col">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Where do you arrive</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button (click)="handleTimeClicked('Before 9:15')" ngbDropdownItem>Before 9:15</button>
                            <button (click)="handleTimeClicked('9:15 - 1:45')" ngbDropdownItem>9:15 - 1:45</button>
                            <button (click)="handleTimeClicked('1:45 - 5:30')" ngbDropdownItem>1:45 - 5:30</button>
                            <button (click)="handleTimeClicked('After 5:30')" ngbDropdownItem>After 5:30</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center mt-3">
            <button class="btn btn-outline-success px-5">Submit</button>
        </div>
    </div>
</div>
