<br />
<br />
<br />
<div class="backdrop">
    <div class="">
        <h3 style="color: azure; border-bottom: 1px solid white; padding-bottom: 10px" class="text-center">We will help you find the best spot to park on campus!</h3>
    </div>
    <div class="container-fluid">
        <div class="d-flex justify-content-center row">
            <div class="campusChoices">
                <h4 style="color:azure">Pick your side of campus:</h4>
                <div class="btn-group btn-group-toggle d-flex justify-content-center" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
                    <label ngbButtonLabel class="btn-light">
                        <input ngbButton (click)="handleCampusSelected('south')" type="radio" value="south"> South
                    </label>
                    &nbsp;
                    <label ngbButtonLabel class="btn-light">
                        <input ngbButton (click)="handleCampusSelected('north')" type="radio" value="north"> North
                    </label>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="buildingSelect mt-3">
                <div class="col">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-light" [disabled]="model == 1" id="dropdownBasic1" ngbDropdownToggle>Where is your first class?</button>
                        <div class="dropDown" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button *ngFor="let building of specificCampusBuildings" (click)="handleBuildingClick(building)" ngbDropdownItem>{{building}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <p class="mt-3 mb-0 text-center text-white">{{longName}}</p>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="buildingSelect mt-3">
                <div class="col">
                    <div ngbDropdown class="d-inline-block mb-3">
                        <button class="btn btn-outline-light" id="dropdownBasic2" ngbDropdownToggle>When do you arrive?</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button (click)="handleTimeClicked('Before 9:15')" ngbDropdownItem>Before 9:15</button>
                            <button (click)="handleTimeClicked('9:15 - 1:45')" ngbDropdownItem>9:15 - 1:45</button>
                            <button (click)="handleTimeClicked('1:45 - 5:30')" ngbDropdownItem>1:45 - 5:30</button>
                            <button (click)="handleTimeClicked('After 5:30')" ngbDropdownItem>After 5:30</button>
                        </div>
                    </div>
                    <p class="mb-0 text-center text-white">{{arriveTime}}</p>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <a></a><button class="btn btn-outline-success mt-3 mb-3 px-5" [disabled]="model == 1 || arriveTime == null" (click)="handleSubmitClicked()">Submit</button>
        </div>
    </div>
</div>
